.main {
    margin-left: 249px;
    margin-right: 249px;
    font-size: 20px;
    padding: 30px 10px;
    margin-top: -100px;
}

.column{
	float: left;
	width: 20%;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.projectDetailsDiv, .instruction{
	margin-top: 20px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	padding: 20px;
}
.projectDetailsDiv img{
	margin-top: 20px;
	border-radius: 5px;
	height: 150px;
	width: 150px;
}

.assignDevelopers{
	margin-top: 20px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	padding: 20px;
}

.instruction div{
	margin-left: 40%;
}
.filesMainDiv{
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: rgb(64,55,88);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;   
}

table{
	font-family: arial;
	font-size: 17px;
}
table:hover{
	background-color: rgb(255,255,220); 
	transition: 0.5s;
}
tr{
	padding-left:10px;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
}
tr:hover{
	border-left-width: 5px;
	border-left-color: rgb(64,55,88);
	border-left-style: solid;
	transition: 0.3s;

}
.sidenav {
    margin-top: 3.1em;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(64,55,88);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .sidenavA {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: left;
    font-family: "Century Gothic";
    border-top: 1px solid white;
    border-bottom: 1px solid white;


}

.sidenav .sidenavA:hover {
    border-left: solid;
    border-left-width: 10px;
    border-left-color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.5s;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media(max-width: 1000px) {

    .main{
        margin-left: 1px;
        margin-right: -1000px;
    }

}


