
html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 20vh;

}
.wrapper{
    width: 100%;
}

.content {
    margin-left: 250px;
    margin-right: 250px;
    background:gainsboro;

    color: midnightblue;
    font-size: 20px;
    font-family: "century gothic";
    line-height: 30px;
    text-align: justify;

}
.content ul{
    line-height: 60px;
    list-style: none;
    padding: 0;
    text-align: justify;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}
.content ul li{
    margin-left: 200px;
    padding: 16px 40px;;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;

}
.logoContent{
    margin-top: -0.05em;
    float: right;
    font-size: 1.5em;
}


nav {
    position: fixed;
    width: 100%;
    /*line-height: 60px;*/
}

nav ul {
    /*line-height: 60px;*/
    list-style: none;
    background: rgb(64,55,88);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgb(64,55,88);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.searchinput{
    /*width: 100%;*/
    color: black;
    padding: 6px 15px;
    margin: 8px 0;
    box-sizing: border-box
    border: 2px solid red;
    border-radius: 4px;
}
.menu-icon {

    line-height: 60px;
    width: 100%;
    background: rgb(64,55,88);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}


/*side nav*/

.sidenav {
    margin-top: 6em;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(64,55,88);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: left;
    /*background-color:;*/

}

.sidenav a:hover {
    color:#ff656c;
    /*border-style: dashed;*/
    background-color: rgb(64,55,80);
    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    /*border-color: #ff656c;*/
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/**-----------------**/

/*main content will be here*/
/*.main {*/
    /*margin-left: 250px;*/
    /*margin-right: 250px; */
    /*font-size: 20px;  */
    /*padding: 0px 10px;*/
/*}*/
/**-----------------**/

@media(max-width: 850px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: rgb(64,55,88);
    }

    nav.black ul {
        background: rgb(64,55,88);
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}