


.col-md-4{
    width: 32%;
    background-color: whitesmoke;
    padding: 30px 10px;
    margin:2px;


}
.row{
    margin: 10px;
}

.cellContainer {
    width: 32.33%;
    float: left;
    background-color: white;
    border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
    margin: 2px;

}
.columnss{
    text-align: center;
    margin:10px;
    border-radius: 5px;

    background-color: whitesmoke;


}
/*.columnInfo{*/
/*!*position: relative;*!*/

/*text-align: center;*/
/*margin: 10px;*/
/*border-radius: 10px;*/
/*padding: 2px 2px 2px 2px;*/
/*background-color: lightyellow;*/

/*}*/
/*.icon{*/
/*text-align: center;*/
/*}*/
.topright{
    position:absolute;
    top:45%;
    left:45%;

}

.columnButton{
    text-align: center;
    margin:10px;
    border-radius: 5px;
    /*background-color: rgb(233,235,238);*/
    background-color: white;

}
.textAreaa{
    width: 100%;
    border-radius: 5px;
}
.x{
    border-color: transparent;
    width: 100%;
}
.content-holder{
    max-height: 300px;
    min-height: 100px;
    overflow-y: scroll;
}

/**************************profilemanagement*/

.container2{
    position: fixed;
    z-index: -1;
}


.main {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;

    font-size: 20px;
    padding: 30px 20px;
    margin-top: -80px;
    /*font-family: "Calibri Light";*/
    font-weight: bold;
    border-radius: 10px;
    /*border-color: rgb(223,226,229);*/
    border-color: rgb(223,226,229);
    border-width: 2px;
    border-style: solid;
    background-color: white;
    /*z-index: -5;*/

}
.box{
    width: 100%;
    border-radius: 10px;
    margin-right: -1%;
    position: relative;

}

/*.multiselect {*/
/*width: 200px;*/
/*}*/

.selectBox {
    width: 100%;
    position: relative;
}


.selectBox select {
    width: 100%;
    font-weight: bold;
    position: relative;
}


.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#checkboxes {
    display: none;
    border: 1px #dadada solid;
    position: relative;
}


#checkboxes label {
    display: block;
    position: relative;
}

#checkboxes label:hover {
    font-size: 20px;
    position: relative;
}




#checkboxes2 {
    display: none;
    border: 1px #dadada solid;
    position: relative;
    z-index: 0;
}


#checkboxes2 label {
    display: block;
    position: relative;
}

#checkboxes2 label:hover {
    background-color: #1e90ff;
    position: relative;
}

.name{
    margin-left: 20%;
}

.check{
    text-align: left;
    transition: 0.5s;
}

.col-sm-2{
    text-align: right;
}


.card-note-octicon {
    top: 8px;
}
.card-octicon {
    top: 6px;
    left: 10px;
}
.position-absolute {
    position: absolute !important;
}
.text-gray-light {
    color: #6a737d !important;
}
table{
    border-radius: 15px;
    background-color: white;
    font-size: 15px;

}

tr{

    border-color: rgb(223,226,229);
    border-width: 2px;
    border-style: solid;

}
tr:hover{
    border-left-width: 5px;
    border-left-color: rgb(64,55,88);
    border-left-style: solid;
    transition: 0.3s;
}

.left{
    text-align: left;
    width: 90%;
}
.right{
    width: 10%;
}
.customBTN{
    margin-left: -10px;
    background-color: lightyellow;
}

.sidenav {
    margin-top: 3.1em;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background: rgb(64,55,88);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .sidenavA {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: left;
    font-family: "Century Gothic";
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.sidenav .sidenavA:hover {
    border-left: solid;
    border-left-width: 10px;
    border-left-color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.5s;

}

.sidenav .closebtn {

    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.scrollable {
    height: 200px;
    overflow-y: auto;

}
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background:rgb(64, 55, 88);
    border-radius: 20px;
}
@media(max-width: 1500px) {

    .main{
        margin-left: 1px;
        margin-right: -300px;
    }

}
