.main {
    margin-left: 249px;
    margin-right: 249px;
    font-size: 20px;
    padding: 30px 10px;
    margin-top: -100px;

}

.userprofile{
    margin-top: 20px;
    background-color: white;
    font-family: Arial;
    color: black;
    border-radius: 5px;
    border-color: rgb(223,226,229);
    border-width: 2px;
    border-style: solid;
    text-indent: 2em;

}
.userprofile img{

    margin-top: 20px;
    border-radius: 5px;
    height: 150px;
    width: 150px;

}
.totalproject{
    margin-top: 5px;
    background-color: white;
    font-family: Arial;
    color: black;
    border-radius: 5px;
    border-color: rgb(223,226,229);
    border-width: 2px;
    border-style: solid;
    text-indent: 2em;

}
.totalproject button{

    margin-left: 37%;
    font-size: 20px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
    border-width: 2px;
    color: green;
    background-color: white;
    transition: 0.3s;

}

.allProjects a{
    text-decoration: none;
}

.projects{
    margin-top: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: rgb(223,226,229);
    border-width: 2px;
    border-style: solid;
    text-indent: 2em
}
.projects:hover{
    border-left: solid;
    border-left-width: 10px;
    border-left-color: rgb(64,55,88);
    transition: 0.3s;

}
.projects p{
    font-size: 15px;
}

.sidenav {
    margin-top: 3.1em;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(64,55,88);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .sidenavA {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: left;
    font-family: "Century Gothic";
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}

.sidenav .sidenavA:hover {
    border-left: solid;
    border-left-width: 10px;
    border-left-color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: 0.5s;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenavspan{
	cursor:pointer;
	background: rgb(64,55,88);
	padding: 15px;
	color: white;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	left: 0px;
	top: 200px;
	position: fixed;
}

.sidenavspan:hover{
	padding-left: 30px;
	transition: 0.3s;
}

div .skilltag{
    display: inline-block;
	font-family: Arial;
	font-size: 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    text-indent: 0em;
	padding: 5px;
    box-shadow: 2px 2px #888888;
	background-color: lightseagreen;
	color: white;
	border-radius: 10px;
}

@media(max-width: 1500px) {

    .main{
        margin-left: 1px;
        margin-right: -1200px;
    }

}

