
html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 20vh;

}
.wrapper{
    position: relative;
    width: 100%;
    z-index: 30;

}

.content {

    background: rgb(64,55,88);
    height: 380px;
    color: white;
    font-size: 20px;
    font-family: Heavitas;
    text-align: justify;
    margin-top: 400px;

}
.content ul{
    margin-left: 255px;
    margin-right: 255px;
    line-height: 20px;
    list-style: none;
    padding: 0px;
    text-align: justify;

    padding-right: 40px;
    transition: 1s;
    text-decoration: none;
    color: white;
}
.content ul li{
    line-height: 20px;
    margin-left: 200px;
    padding: 16px 80px;;
    font-size: 15px;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;

}

/*.logoImg{*/
/*width: 3em;*/
/*height: 3em;*/
/*margin-left:2em;*/
/*margin-top: -0.5em;*/

/*}*/

.logoContent{
    margin-top: -0.05em;
    float: right;
    font-size: 20px;
    font-family: "Cooper Black";
    text-decoration: none;
}


nav {
    position: fixed;
    width: 100%;
    /*line-height: 60px;*/
}

nav ul {
    line-height: 5px;
    list-style:none;
    /*background: rgb(64,55,88);*/
    background: rgb(64,55,88);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgb(64,55,88);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.searchinput{
    width: 600px;
    color: black;
    padding: 6px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    /*border: 2px solid red;*/
    border-radius: 4px;
}
.menu-icon {

    line-height: 60px;
    width: 100%;
    /*background: rgb(64,55,88);*/
    background: rgb(64,55,88);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}


/*side nav*/

.sidenav {
    margin-top: 6em;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-color: rgb(64,55,88);*/
    background: rgb(64,55,88);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: left;
    /*background-color:;*/

}

.sidenav a:hover {
    color:#ff656c;
    /*border-style: dashed;*/
    background-color: rgb(64,55,80);

    border-bottom: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    /*border-color: #ff656c;*/
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/**-----------------**/

/*main content will be here*/
/*.main {*/
/*margin-left: 250px;*/
/*margin-right: 250px; */
/*font-size: 20px;  */
/*padding: 0px 10px;*/
/*}*/
/**-----------------**/
/*@media(max-width: 1500px) {*/


/*!*.main {*!*/
/*!*margin-right: 5px;*!*/
/*!*margin-left: 5px;*!*/
/*!*font-size: 20px;*!*/
/*!*padding: 10px 10px;*!*/

/*!*}*!*/

/*}*/

@media(max-width: 1500px) {

    .logo {
        /*position: fixed;*/
        top: 0;
        /*left: -50px;*/
        margin-left: -1px;
        margin-top: 10px;
        font-size: 15px;

    }
    .content{
        margin-left: 1px;
        margin-right: -1200px;
    }
    /*.wrapper {*/
        /*overflow-x: scroll;*/
    /*}*/
    .logoimg{
        height: 1em;
        width:1em;
        margin-left: -10px;
    }
    .logoContent{
        font-size: 15px;
    }
    nav ul {
        max-height: 0px;
        background: rgb(64,55,88);
    }

    nav.black ul {
        background: rgb(64,55,88);
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
    .searchinput{
        width:200px;
    }
    body{
        overflow-x: scroll;
    }


}

/*******************************DROPDOWN BUTTON*******************************/
.dropbtn {

    /*background-color:*/
    /*background-color: rgb(64,55,88);*/
    background: white;
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    border: none;
    /*cursor: pointer;*/


}

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {*/
/*background-color: #2980B9;*/
/*}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /*display: inline-block;*/

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    text-align: center;
    display: none;
    position: fixed;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
    padding: 12px 16px;
    right: 40px;
    top: 75px;
    border-radius: 5px;


}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    width:100%;
    transition: 0.3s;
    border-left-width: 5px;
    border-left-color: rgb(64,55,88);
    border-left-style: solid;
    transition: 0.3s;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show{
    display:block;
    transition: 0.5s;
}
/**********************************************************************************/
.notificationBtn {
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.notification {
    position: relative;


}

/* Dropdown Content (Hidden by Default) */
.notificationDiv {
    text-align: center;
    display: none;
    position: fixed;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 50;
    padding-top: 12px;
    right: 80px;
    top: 75px;
    border-radius: 5px;
    min-height:200px;
    overflow-y: scroll;
    max-height: 300px;
    /*!*border-radius: 5px;*!*/
    /*border-top-left-radius: 50%;*/
    /*border-top-right-radius: 50%;*/

}

.notificationDiv a {
    color: dodgerblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px;

}

/* Change color of dropdown links on hover */
.notificationDiv a:hover {
    border-left-width: 5px;
    border-left-color: rgb(64,55,88);
    border-left-style: solid;
    transition: 0.3s;
}

#notiImage{
    border: solid black;
    border-radius: 50%;
    border-width: 0.5px;
}
/*.notificationDiv:before {*/
/*content: '';*/
/*display:block;*/
/*width:0;*/
/*height:0;*/
/*!*color:BLUE;*!*/
/*border: 10px solid #CCC;*/
/*border-color: white white rgb(64,55,88);*/
/*margin-top:-10px;*/
/*margin-left:230px;*/
/*!*background-color: green;*!*/
/*}*/

/* Links inside the dropdown */
/*.notificationDiv table {*/
/*color: black;*/
/*padding: 12px 16px;*/
/*text-decoration: none;*/
/*display: block;*/
/*}*/

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {*/
/*background-color: white;*/
/*border-left-width: 5px;*/
/*border-left-color: rgb(64,55,88);*/
/*border-left-style: solid;*/
/*transition: 0.3s;*/
/*border-radius: 5px;*/

/*}*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;
    transition: 0.5s;}

