.main {
    margin-left: 249px;
    margin-right: 249px;
    font-size: 20px;
    padding: 30px 10px;
    margin-top: -100px;
     

}

.userprofile{
	margin-top: 20px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	text-indent: 2em;
	
}
.userprofile img{
	
	margin-top: 20px;
	border-radius: 5px;
	height: 150px;
	width: 150px;
	
}
.totalproject{
	margin-top: 5px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	text-indent: 2em;
	
}
.totalproject button{

	margin-left: 37%;
	font-size: 20px;
	border-radius: 5px;
	width: 300px;
	margin-bottom: 20px;
	border-width: 2px;
	color: green;
	background-color: white; 
	transition: 0.3s;

}

.allProjects a{
	text-decoration: none;
}

.projects{
	margin-top: 5px;
	background-color: white;
	font-family: century gothic;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	text-indent: 2em
}
.projects:hover{
	border-left: solid;
	border-left-width: 10px;
	border-left-color: rgb(64,55,88); 
	transition: 0.3s;
 	
}
.projects p{
	font-size: 15px;
}

@media(max-width: 1500px) {

    .main {
    	margin-right: 5px;
    	margin-left: 5px;
    	font-size: 20px;
    	padding: 10px 10px;
    }
    
}

