.main {
	margin-left: 249px;
	margin-right: 249px;
	font-size: 20px;
	padding: 30px 10px;
	margin-top: -100px;

}

.column{
	float: left;
	width: 20%;
}
.row:after{
	content: "";
	display: table;
	clear: both;
}
.projectDetailsDiv, .instruction{
	margin-top: 20px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	padding: 20px;
}

.assignDevelopersDiv{
	margin-top: 20px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	padding: 20px;
}

.instruction div{
	margin-left: 40%;
}
.developerMainDiv{
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;

	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: rgb(64,55,88);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.developerMainDiv h3{
	margin-left: 10px;
}

table{
	font-family: arial;
	font-size: 17px;
}
table:hover{
	background-color: rgb(255,255,220);
	transition: 0.5s;
}
tr{
	padding-left:10px;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
}
tr:hover{
	border-left-width: 5px;
	border-left-color: rgb(64,55,88);
	border-left-style: solid;
	transition: 0.3s;

}
.languageRatio, .contributionRatio{
	width: 100%;

	margin-top: 10px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
    padding: 30px;


}
.languageRatio canvas, .contributionRatio canvas{
    margin-left: 28%;
    height: 500px !important;
    width: 500px !important;
}
.assignDevelopers{
	margin-top: 20px;
	background-color: white;
	font-family: Arial;
	color: black;
	border-radius: 5px;
	border-color: rgb(223,226,229);
	border-width: 2px;
	border-style: solid;
	padding: 20px;
}


@media(max-width: 1500px) {

	.main{
		margin-left: 1px;
		margin-right: -1200px;
	}
}


