

<!DOCTYPE html>
<html>
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {#    <!-- Bootstrap core CSS -->#}
    {#    <link href="css/bootstrap.min.css" rel="stylesheet">#}
    {#    <!-- Material Design Bootstrap -->#}
    {#    <link href="css/mdb.min.css" rel="stylesheet">#}
    {#    <!-- Your custom styles (optional) -->#}
    {#    <link href="css/style.css" rel="stylesheet">#}


    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'ProfileManagement/CSS/ProfileManagement.css'%}">
    <link rel="stylesheet" href="{% static 'ProfileManagement/CSS/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'ProfileManagement/CSS/mdb.min.css'%}">
    <link rel="stylesheet" href="{% static 'ProfileManagement/CSS/style.css'%}">

    <script type="text/javascript" src="{% static 'ProfileManagement/SCRIPT/profileManagement.js'%}"></script>

    <title>Profile Management</title>



</head>



<body>
<div class="container" align="center">
    {% if user.is_authenticated %}
        <br>
        <br>
        <br>
        <br>
        <div class="main">

            <form id="usrform" method="post" action="/profilemanagement/" enctype="multipart/form-data" class="form-group" >
                {% csrf_token %}
                {% if form.errors %}
                    <p>Something Wrong</p>
                {% endif %}
                <div class="row">
                    <div class="column">
                        <a href="{% url 'homepage' %}" class="btn btn-success" style="font-size: 20px" >PROJECT</a>
                    </div>


                    <div class="column" >
                        <img src='{{userInformation.profilePicture.url}}' alt="painai" height="180em" width="200em">
                        {#            <input type="file"  name="pictureUpload" value="{{userInformation.profilePicture.url}}" id="upload-photo" />#}
                        <br>

                        <label class="btn btn-primary btn-lg btn-file" style="font-size: 15px;font-family: 'Verdana'; border-radius: 10px;margin-right: 10px;">
                            Browse <input type="file" name="pictureUpload" style="display: none; font-size: 20px" value="{{userInformation.profilePicture.url}}">
                        </label>


                    </div>
                </div>



                <div class="form-group row" >
                    <label class="col-sm-2 col-form-label" for="username">USERNAME</label>
                    <p class="col-sm-0 col-form-label" id="username">{{user.username}}</p>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="email">EMAIL</label>
                    <p class="col-sm-0 col-form-label" id="email">{{user.email}}</p>
                </div>


                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="name">NAME</label>
                    <input type="text"  value="{{userInformation.name}}"  id="name" name="name" class="box col-sm-9 col-form-label"/>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="Biography">BIOGRAPHY</label>
                    <textarea name="biography" class="box col-sm-9 col-form-label" aria-label="With textarea" id="Biography">{{userInformation.biography}}</textarea>
                </div>





                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="Skilltags">SKILLTAGS</label>

                    <div class="multiselect box col-sm-9 col-form-label" id="Skilltags">
                        <div class="selectBox" onclick="showCheckboxes()">
                            <select>
                                <option>{% for value in userInformation.skilltag %}
                                    {{ value }},
                                {% endfor %}</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes" class="check scrollable">
                            {% for value,text in userInformation.skills %}
                                <label> <input type="checkbox" name="skillTags" id={{ text }} value={{ value }} />  {{ text }}  </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="OldPass">Old Password</label>
                    <input type="password" class="box col-sm-9 col-form-label " placeholder="Enter old Password" id="OldPass" name={{ form.old_password.name }}  />
                    <div class="box col-sm-9 col-form-label " id="error"></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="NewPass">New Password</label>
                    <input type="password" class="box col-sm-9 col-form-label" placeholder="Enter new Password" id="NewPass" name={{ form.new_password1.name }}   />
                    {% if form.new_password1.errors %}<li>{{ form.new_password1.label }}: {{ form.new_password1.errors|striptags }}</li>
                    {% endif %}
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="ConPass">Confirm Password</label>
                    <input type="password" class="box col-sm-9 col-form-label" placeholder="Confirm new Password"  id="ConPass" name={{ form.new_password2.name }}   />
                    {% if form.new_password2.errors %}<li>{{ form.new_password2.label }}: {{ form.new_password2.errors|striptags }}</li>
                    {% endif %}
                </div>

                <button id='save' type="submit" class="btn btn-amber btn-lg" style="font-size: 20px;font-family: 'Courier New';font-weight: bold;border-radius: 10px;"> SAVE </button>
                <input name="csrfmiddlewaretoken" value="3pVLxcAhPVWeJJ7vaau2nsrTMSZdmFXqNTImhWXImebeaudsqZ4PCLzQEgNSaSOo" type="hidden">

        </div>
    {% else %}
        <h2>You are not logged in</h2>
    {%endif%}

    </form>
</div>




<script type="text/javascript" src="../../static/ProfileManagement/SCRIPT/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../../static/ProfileManagement/SCRIPT/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../../static/ProfileManagement/SCRIPT/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../../static/ProfileManagement/SCRIPT/mdb.min.js"></script>

<script type="text/javascript">

    $("#OldPass").change(function () {
        var password = $(this).val();
        $.ajax({
            type:"POST",
            url: "/ajax/passwordCheck/",

            data: {
                'oldPass': password
            },
            dataType: 'json',
            success: function (data) {
                if (data.is_taken) {
                    document.getElementById('error').innerHTML =data.is_taken
                    if(data.check==false){
                        document.getElementById("save").disabled = true;
                    }
                    else if(data.check==true){
                        document.getElementById("save").disabled = false;
                    }
                    {#                        alert(data.is_taken)#}
                }

            }
        });

    });


    $("#ConPass").change(function () {
        var password = $(this).val();
        var password2 = $("#NewPass").val();
        if(password==password2 && password.length>=8){
            document.getElementById("save").disabled = false;
        }
        else{
            document.getElementById("save").disabled = true;
        }

    });
    $("#NewPass").change(function () {
        var password = $(this).val();
        var password2 = $("#ConPass").val();
        if(password==password2 && password.length>=8){
            document.getElementById("save").disabled = false;
        }
        else{
            document.getElementById("save").disabled = true;
        }

    });






    $(document).ready(function() {
        $('.mdb-select').material_select();
    });






</script>
</body>




</html>