{#{% extends '../Home/base.html' %}#}
{##}
{#{% block content %}#}
{#    <div>#}
{#<h1>sdafsadfsadf</h1>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <h1>sdafsadfsadf</h1>#}
{#    <h1>sdafsadfsadf</h1>#}
{#    <h1>sdafsadfsadf</h1>#}
{#    <h1>sdafsadfsadf</h1>#}
{#    <h1>sdafsadfsadf</h1>#}
{##}
{#    </div>#}
{#{% endblock %}#}













{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title></title>#}
{#</head>#}
{#<body>#}
{#	<h2>Welcome To Byte Pro</h2>#}
{#	{% if user.is_authenticated %}#}
{#	<h4>Welcome {{user.username}}</h4>#}
{#	<h5>Welcome {{user.email}}</h5>#}
{#        <h5>Welcome {{userInformation.name}}</h5>#}
{#        <h5>Welcome {{userInformation.biography}}</h5>#}
{#         <img src="{{userInformation.url.object}}">#}
{##}
{#	{% else %}#}
{#	<h2>You are not logged in</h2>#}
{#	{%endif%}#}
{#</body>#}
{#</html>#}










{##}
{##}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#	<title></title>#}
{#</head>#}
{##}
{##}
{##}
{#<body>#}
{#	<div>#}
{#		{% if user.is_authenticated %}#}
{#			<h4>Welcome {{user.username}}</h4>#}
{#			<h5>Welcome {{user.email}}</h5>#}
{##}
{#		<form id="usrform">#}
{#            {% csrf_token %}#}
{#            <h3>NAME:</h3>#}
{#			<input type="text" value="{{userInformation.name}}" placeholder="" id="name" />#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <h3>Biography:</h3>#}
{#			<textarea   rows="4" cols="50" name="biography" form="usrform" id="biography">{{userInformation.biography}}</textarea>#}
{#            <br>#}
{#            <br>#}
{#            <br>#}
{#            <h3>Profile Picture</h3>#}
{#            <img src='{{userInformation.profilePicture.url}}' alt="painai" height="50em" width="50em">#}
{#            <br>#}
{#            <button>UPLOAD PROFILE PICTURE</button>#}
{#            <br>#}
{#            <br>#}
{#            <h3>Skilltags</h3>#}
{##}
{#            <select name="skillTags" multiple>#}
{#              <option value="C++">C++</option>#}
{#              <option value="C">C</option>#}
{#              <option value="JAVA">JAVA</option>#}
{#              <option value="Python">Python</option>#}
{#            </select>#}
{#            <br>#}
{#            <br>#}
{#            <button type="submit"> SAVE </button>#}
{##}
{#        {% else %}#}
{#            <h2>You are not logged in</h2>#}
{#            {%endif%}#}
{##}
{#		</form>#}
{#	</div>#}
{#</body>#}
{##}
{##}
{##}
{##}
{#</html>#}