
<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signout</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'Authentication/CSS/signOut.css'%}">
    <!--<link rel="stylesheet" href="../../static/Authentication/CSS/recovery.css">-->

    <!--  -->
</head>


<body>

<!--/* NAVIGATION BAR */-->
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>

            {#                    <div class="logo">#}
            {##}
            {#                        <img src="../../static/Authentication/IMAGES/WoolBug2.png" style="width: 4em; height: 4em; margin-left:-2em;margin-top: -0.5em;" >#}
            {#                       <div class="logoContent">#}
            {#                        BYTE PRO#}
            {#                       </div>#}
            {##}
            {#                    </div>#}
            <div class="logo">
                <img class="logoimg" style="width: 3em; height: 3em; margin-left:2em; margin-top: -0.5em;" src={% static "Authentication/IMAGES/3.png" %}>
                <div class="logoContent">
                    <a href="" style="color: white; text-decoration: none;">BYTE <span style="background-color: #ff656c; border: solid #ff656c; border-width:5px; border-radius: 6px; ">PRO</span></a>
                </div>
            </div>


            <div class="menu">
                <ul>

                    <li><a href="#contact" class="btn">Contact</a></li>
                    <li><a href="{% url 'signUp2' %}" class="btn btn" role="button" style="background: rgb(68,55,88); border-radius: 20px;">Sign up</a></li>
                    <li><a href="{% url 'login' %}" class="btn btn" role="button" style="background: rgb(68,55,88); border-radius: 20px;">Sign In</a></li>

                </ul>
            </div>

        </nav>

    </header>
{#    <header>#}
{#        <nav>#}
{#            <div class="menu-icon">#}
{#                <i class="fa fa-bars fa-2x"></i>#}
{#            </div>#}
{##}
{#            <div class="logo">#}
{##}
{#                <img src="../../static/Authentication/IMAGES/WoolBug2.png" style="width: 4em; height: 4em; margin-left:-2em;margin-top: -0.5em;" >#}
{#                <div class="logoContent">#}
{#                    BYTE PRO#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="menu">#}
{#                <ul>#}
{##}
{#                    <li><a href="#contact" class="btn">Contact</a></li>#}
{#                    <li><a href="{% url 'signUp2' %}" class="btn btn-primary btn-lg" role="button">Sign up</a></li>                     <!--ADDED SIGNUP LINK-->#}
{#                                                                                                                                            <!--ADDED SIGNIN LINK-->#}
{#                    <li><a href="{% url 'login' %}" class="btn btn-primary btn-lg" role="button">Sign In</a></li>#}
{##}
{#                </ul>#}
{#            </div>#}
{##}
{#        </nav>#}
{##}
{#    </header>#}
</div>


<!--/* MAIN CONTENTS WHICH WILL LATER BE USED AS BLOCK CONTENT*/-->
<div class="container">
    <div class="recovery-block" style="color: white; font-size: 50px;">
        <h1 >You are logged out of the System...</h1>
        <hr>
        <h1> Thank You...</h1>
    </div>

</div>



<!--/* LOWER CONTACT SPACE*/-->
<div class="content">
    <div class="contact" id="contact">
        <ul>
            <li>

            <li>
                <img  style="width: 5em; height: 5em;" src={% static "Authentication/IMAGES/3.png" %}>
                <a href="{% url 'homepage' %}" style="color: white; text-decoration: none; font-size: 20px">BYTE <span style="background-color: #ff656c; border: solid #ff656c; border-width:5px; border-radius: 6px; ">PRO</span></a>
                <hr style="width: 400px; font-size: 50px;">
            </li>

            <li>Chinmoy Acharjee: (chinmoyacharjee15@gmail.com)</li>
            <li>Sabik Abtahee: (sabikchamp@gmail.com)</li>
            <li>©Chinmoy Sabik</li>

            </li>

        </ul>


    </div>
</div>




<!--/* SCRIPT PART*/-->
<script type="text/javascript">



    $(document).ready(function() {
        $(".menu-icon").on("click", function() {
            $("nav ul").toggleClass("showing");
        });
    });

    // Scrolling Effect

    $(window).on("scroll", function() {
        if($(window).scrollTop()) {
            $('nav').addClass('black');
        }

        else {
            $('nav').removeClass('black');
        }
    })


</script>

</body>
</html>