{% extends 'Project/base.html' %}

{% block css_link %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'Project/CSS/addFile.css' %}">
    <script src="{% static 'Project/SCRIPT/addFile.js' %}"></script>
{% endblock %}



{% block content %}
    <div class="main">
        <div class="addFileMainContent">
            <div class="addFileForm">

                <form
                        {% if isMaster %}
                            action="/projectmanagement/{{project.projectName}}/addfiles/"
                        {% else %}
                            action = "/search/{{ user.username }}/{{project.projectName}}/addfiles/"
                        {% endif %}
                            method = 'post' enctype="multipart/form-data" onsubmit="return validate()">
                    <!-- {% csrf_token %} -->
                    <div class="form-inline">

                        <label for="Enter Project Name">
                            <a href="/profilemanagement/">
                                {{user.username}}
                            </a>
                            /
                            <a href="/projectmanagement/{{project.projectName}}">
                                {{project.projectName}}
                            </a>
                        </label>

                        <input type="file" class="" id="file" name="file" multiple aria-describedby="helpBlock1" accept=".cpp, .c,  .html, .htm, .html, .js, .py, .java, .c, .rb, .php, .php3, .php4, .php5, .php6, .cs, .css">
                        <span id="helpBlock1" class="help-block" style="color: red;"></span>
                        <label for="afteradded" hidden></label>
                    </div>

                    <hr>

                    <div class="form-group">
                        <label for="File Description">File Description:</label>
                        <textarea class="form-control" id="projDesc" placeholder="About your uploading file" name="fileDescription" aria-describedby="helpBlock2"></textarea>
                        <span id="helpBlock2" class="help-block" style="color: red;"></span>
                    </div>
                    <button type="submit" class="btn btn-success">Add File</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}