
<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Byte Pro</title>

    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">#}
    {#    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    {#    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>#}

    {%load staticfiles%}
    <link rel="icon" href="{% static 'Authentication/IMAGES/3.png' %}">

    <link rel="stylesheet" href="{% static 'Project/CSS/CSSLINKS/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'Project/CSS/CSSLINKS/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'Project/CSS/CSSLINKS/montserrat.css'%}">

    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'Project/CSS/project.css'%}">
    <script src="{% static 'Project/SCRIPT/project.js' %}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="{% static 'Project/SCRIPT/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'Project/SCRIPT/jquery.min2.js' %}"></script>
    <script src="{% static 'Project/SCRIPT/bootstrap.min.js' %}"></script>


    {% block css_link %}

    {% endblock %}

    <!--  -->
</head>

<body style="background-color: rgb(233,235,238);">

<!--/* NAVIGATION BAR */-->
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>

            <div class="logo">
                <a href="{% url 'homepage' %}">
                    <img class="logoimg" style="width: 3em; height: 3em; margin-left:2em; margin-top: -0.5em;" src={% static "Authentication/IMAGES/3.png" %}>
                </a>
                <div class="logoContent">
                    <a href="{% url 'homepage' %}" style="color: white; text-decoration: none;">BYTE <span style="background-color: #ff656c; border: solid #ff656c; border-width:5px; border-radius: 6px; ">PRO</span></a>
                </div>

            </div>

            <div class="menu">
                <ul>
                    <li>

                        <form method="post" action="/search/">
                            <input type="text" name="searchinput" id='searchinput' class="searchinput" list="searchvalues" autocomplete="off" >
                            <datalist id="searchvalues">
                                {% for user in alluser %}
                                    <option value={{ user.username }}>
                                {% endfor %}

                                {% for project in allprojects %}

                                    {% if  project.accessType  == "Public" %}
                                        <option value={{ project.projectName }}  >
                                    {% endif %}
                                {% endfor %}
                            </datalist>

                            <button id="search" class = "btn btn-info btn-sm " >Search</button>
                        </form>
                    </li>
                    <li ><a href="#contact" style="color: white; text-decoration: none;">Contact</a></li>


                    <li>
                        <div class="notification">

                            <button onclick="showNotifications()" id = "nBtn" class="btn notificationBtn" style="background: transparent;"><img  class="notificationBtn" src="{% static 'Project/IMAGES/bell.png' %}" height = "20" width = "20"><span style="background:#ff656c; color: white; padding-left: 2px;  padding-right: 2px; border-radius: 2px; ">!</span></button>

                            <div id="notiDiv" class="notificationDiv" style="background: white">
                            </div>
                        </div>
                    </li>



                    <li>
                        <div class="dropdown">
                            <img onclick="myFunction()" class="dropbtn" src="{{userInformation.profilePicture.url}}" height = "40" width = "40" style="border-style: solid;border-radius: 50%; border-width: 2px;">
                            <div id="myDropdown" class="dropdown-content">
                                <a href="{% url 'profileView' %}" >Profile</a>
                                <br>
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>

        </nav>

    </header>
    <!-- side Nav -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Projects</a>

        <a href="#">Code</a>
        <a href="#">Issues</a>
        <a href="#">Comments</a>
        <a href="#">Assigned Developers</a>
    </div>

    <span style="font-size:30px;cursor:pointer; color: rgb(64,55,88);" onclick="openNav()">&#9776;</span>


    {% block content %}

    {% endblock %}


    <!-- *** -->

    <!--/* LOWER CONTACT SPACE*/-->
</div>


<div class="content">
    <div class="contact" id="contact">
        <ul>
            <li>

            <li>
                <img  style="width: 5em; height: 5em;" src={% static "Authentication/IMAGES/3.png" %}>
                <a href="{% url 'homepage' %}" style="color: white; text-decoration: none; font-size: 20px">BYTE <span style="background-color: #ff656c; border: solid #ff656c; border-width:5px; border-radius: 6px; ">PRO</span></a>
                <hr style="width: 400px; font-size: 50px;">
            </li>

            <li>Chinmoy Acharjee: (chinmoyacharjee15@gmail.com)</li>
            <li>Sabik Abtahee: (sabikchamp@gmail.com)</li>
            <li>©Chinmoy Sabik</li>

            </li>

        </ul>


    </div>

</div>

<!--/* SCRIPT PART*/-->
<script type="text/javascript">


    // For opening and closing side nav bar
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("notiContent").style.width = "0";
    }


    $(document).ready(function() {
        $(".menu-icon").on("click", function() {
            $("nav ul").toggleClass("showing");
        });
        $.ajax({
            url: '/ajax/getnotifications',
            data: {
                'uid': {{ user.id }}
            },
            dataType: 'json',
            success: function(data) {
                appendDiv(data.content, data.num)

            }
        });

    });


    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
        if (!event.target.matches('.notificationBtn')) {
            var notificationContent = document.getElementsByClassName("notificationDiv");
            var j;
            for (j = 0; j < notificationContent.length; j++) {
                var notiContentAsList = notificationContent[j];
                if (notiContentAsList.classList.contains('show')) {
                    notiContentAsList.classList.remove('show');
                }
            }
        }
    };

    function showNotifications() {
        document.getElementById("notiDiv").classList.toggle("show");
    }


    function refresh() {
        $.ajax({
            url: '/ajax/getnotifications',
            data: {
                'uid': {{ user.id }}
            },
            dataType: 'json',
            success: function(data) {
                appendDiv(data.content, data.num)

            }
        });

    }

    function appendDiv(data,x) {


        document.getElementById("nBtn").innerHTML = '<img  class="notificationBtn" src="{% static  'Project/IMAGES/bell.png'  %}" height = "20" width = "20"><span style="background:#ff656c; color: white; padding-left: 2px;  padding-right: 2px; border-radius: 2px; ">!</span>';
        document.getElementById("notiDiv").innerHTML = '<h4 style="color:rgb(64,55,88);"><strong>Notifications</strong></h4><hr>';
        if(x===0){
            document.getElementById("notiDiv").innerHTML +='<hr><h5 style="color:#ff656c;">No Notifications Yet</h5><hr>';
        }
        else{
            for(var i=0;i<x*6;i+=6){

                var a = document.createElement("a");
                a.href = data[i+3];
                var txt = document.createTextNode(data[i+2]);

                img = document.createElement("img");
                img.src = data[i+5];
                img.height="30";
                img.weight="30";
                img.id ="notiImage";
                a.appendChild(img);
                a.innerHTML+=" ";
                a.appendChild(txt);

                document.getElementById("notiDiv").appendChild(a);
                document.getElementById("notiDiv").innerHTML +="<br><br><br><br><br><br>";
            }
        }

    }
    $(function(){
        setInterval(refresh, 5000);
    });



    $("#searchinput").change(function () {
    var text = $('#searchinput').val();
    $.ajax({
        type:"POST",
        url: "/ajax/projectAccessType/",

        data: {
            'searchInput': text
        },
        dataType: 'json',
        success: function (data) {
            if (data.check) {
                valid();
            }
            else{
                invalid();
            }

        }
    });

});


</script>

</body>
</html>