{% extends 'Project/base.html' %}

{% block css_link %}
    {% load staticfiles %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'Project/CSS/editFile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Project/CSS/codemirror/lib/codemirror.css'%}">
    <!-- themes -->
    <link rel="stylesheet" type="text/css" href="{% static 'Project/CSS/codemirror/theme/monokai.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'Project/CSS/DIFF/diffview.css' %}">
{% endblock %}


{% block content %}
    <div class="main container2">
        <div class="addFileMainContent">
            <div class="addFileForm">
                <form method = 'post' action="/projectmanagement/{{project.projectName}}/{{file.id}}/edit/">
                    {% csrf_token %}

                    <div class="form-inline">

                    <label for="Enter Project Name">
                        <a href="/profilemanagement/">
                            {{user.username}}
                        </a>
                        /
                        <a href="/projectmanagement/{{project.projectName}}">
                            {{project.projectName}}
                        </a>
                        /
                        {{file.fileName}}
                    </label>    
                        
                    </div>
                    
                    <hr>
                    
                    <div class="form-group">
                        <label for="File Description">File Description:</label>
                        <textarea class="form-control" id="projDesc" placeholder="About your editing file" name="fileDescription"></textarea>
                    </div>
                    
                    <div class="codeDiv">
                            <textarea   class="codemirror-textarea" id = 'newText' name="code">
{% for line in lines %}{{line}}
{%endfor%}</textarea>     
                    </div>

                    <textarea id="baseText" hidden>
                        {{ versionsFileContent }}
                    </textarea>

                    <div class="liveDiff" id = "diffoutput"></div>

{#                    <input type="radio" name="_viewtype" id="sidebyside" onclick="diffUsingJS(0);" /> <label for="sidebyside">Side by Side Diff</label>#}
{#		&nbsp; &nbsp;#}
{#		<input type="radio" name="_viewtype" id="inline" onclick="diffUsingJS(1);" /> <label for="inline">Inline Diff</label>#}
                <hr>
                    <button type="submit" class="btn btn-info" ><strong>Edit File</strong></button>
              </form>
            </div>
        </div>        
    </div>
    
     

    {% load staticfiles %}

    <script type ="text/javascript" src="{% static 'Project/SCRIPT/jquery.min.js' %}"></script>
    <script type ="text/javascript" src="{% static 'Project/CSS/codemirror/lib/codemirror.js'%}"></script>
    <script type ="text/javascript" src="{% static 'Project/CSS/codemirror/mode/clike/clike.js' %}"></script>
    <script type ="text/javascript" src="{% static 'Project/SCRIPT/difflib.js' %}"></script>
    <script type ="text/javascript" src="{% static 'Project/SCRIPT/diffview.js' %}"></script>

    
    <script>
        // toLowerCase()
        var editor;
        $(document).ready(function(){
            var code = $(".codemirror-textarea")[0];
            editor = CodeMirror.fromTextArea(code,{
                lineNumbers: true,
                theme: 'monokai',
                mode: 'clike'
            });

        });

        $('button').click(function () {
            editor.save();
		});
        /*$('#newText').change(function(){

            editor.save();
            alert('change');
            "use strict";
	        var byId = function (id) { return document.getElementById(id); },
		    base = difflib.stringAsLines(byId("baseText").value),
		    newtxt = difflib.stringAsLines(byId("newText").value),
		    sm = new difflib.SequenceMatcher(base, newtxt),
		    opcodes = sm.get_opcodes(),
		    diffoutputdiv = byId("diffoutput"),
		    contextSize = 0;

	        diffoutputdiv.innerHTML = "";
	        contextSize = contextSize || null;

	        diffoutputdiv.appendChild(diffview.buildView({
		        baseTextLines: base,
		        newTextLines: newtxt,
		        opcodes: opcodes,
		        // baseTextName: "Base Text",
		        // newTextName: "New Text",
		        contextSize: contextSize,
		        viewType: 1
	        }));

        });*/

        function diffUsingJS(viewType) {
	        console.log('calling');
            editor.save();
            {#"use strict";#}
	        var byId = function (id) { return document.getElementById(id); },
		    base = difflib.stringAsLines(byId("baseText").value),
		    newtxt = difflib.stringAsLines(byId("newText").value),
            sm = new difflib.SequenceMatcher(base, newtxt),
		    opcodes = sm.get_opcodes(),
		    diffoutputdiv = byId("diffoutput"),
		    contextSize = 0;
	        console.log(base);

	        diffoutputdiv.innerHTML = "";
	        contextSize = contextSize || null;

	        diffoutputdiv.appendChild(diffview.buildView({
		        baseTextLines: base,
		        newTextLines: newtxt,
		        opcodes: opcodes,
		        // baseTextName: "Base Text",
		        // newTextName: "New Text",
		        contextSize: contextSize,
		        viewType: viewType
	        }));
        }
    </script>


{% endblock %}