{% extends 'Project/base.html' %}

{% block css_link %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'Project/CSS/fileDetails.css' %}">

    <link rel="stylesheet" href="{% static 'Project/CSS/styles/github.css' %}">
    <script src="{% static 'Project/SCRIPT/highlight.pack.js' %}"></script>
    <script src="{% static 'Project/SCRIPT/highlightjs-line-numbers.min.js' %}"></script>
    <script src="{% static 'Project/SCRIPT/fileDetails.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>hljs.initLineNumbersOnLoad();</script>
{% endblock %}



{% block content %}
    <div class="main">
        {% if isMaster %}
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br>
                <br>
                <br>
                <a href="/projectmanagement/" class = "sidenavA"><img src="{% static 'Project/IMAGES/project.png' %}" height = "30" width="30">&nbsp; My Projects</a>
                <a href="/projectmanagement/{{ project.projectName }}/issues/" class = "sidenavA"><img src="{% static 'Project/IMAGES/issues.png' %}" height = "30" width="30">&nbsp; Project Issues</a>
                <a href="/projectmanagement/{{ project.projectName }}/projectsettings/#assignedDeveloper" class = "sidenavA"><img src="{% static 'Project/IMAGES/assignedDevelopers.png' %}" height = "30" width="30">&nbsp; Assigned Developers</a>
                <a href="/projectmanagement/{{ project.projectName }}/projectsettings/#languageGraph" class = "sidenavA"><img src="{% static 'Project/IMAGES/langGraph.png' %}" height = "30" width="30">&nbsp; Programming Languages</a>
                <a href="/projectmanagement/{{ project.projectName }}/projectsettings/#Contributions" class = "sidenavA"><img src="{% static 'Project/IMAGES/contributions.png' %}" height = "30" width="30">&nbsp; Contributions</a>
                <a href="/projectmanagement/assignedprojects/" class = "sidenavA"><img src="{% static 'Project/IMAGES/assigned.png' %}" height = "30" width="30">&nbsp;Assigned Projects</a>
                <a href="/projectmanagement/{{ project.projectName }}/" class = "sidenavA"><img src="{% static 'Project/IMAGES/back.png' %}" height = "30" width="30">&nbsp; Back To "<strong>{{ project.projectName }}</strong>"</a>


            </div>
        {% else %}
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br>
                <br>
                <br>
                <a href="/projectmanagement/" class = "sidenavA"><img src="{% static 'Project/IMAGES/project.png' %}" height = "30" width="30">&nbsp; My Projects</a>
                <br>
                <br>
                <a href="/search/{{ searchedUser.username }}/{{ project.projectName }}/" class = "sidenavA"><img src="{% static 'Project/IMAGES/back.png' %}" height = "30" width="30">&nbsp; Back To "<strong>{{ project.projectName }}</strong>"</a>


            </div>
        {% endif %}
        <span style="font-size:30px;cursor:pointer; color: rgb(64,55,88);margin: auto 50%; " onclick="openNav()">&#9776;</span>

        <div class = "fileContentsAndCode">
            <div class="filesDetailsDiv">
                <div class="filenameAndImage">
                    {{file.fileName}}
                </div>
                <div class="fileType">
                    {{file.fileType}} type
                </div>
                <div class="modificationTime">
                    {{file.fileSize}} bytes
                </div>
                <div>
                    {{numberOfLines}} lines
                </div>
                <div class="modificationTime">
                    {{file.modificationTime.date}}
                </div>
                <span class="fix"></span>

            </div>
            <div class="filesDetailsDiv">
                <h4>File Description:</h4>

                {{ file.fileDescription }}
                <hr>
            </div>
            <hr>
            {% if isMaster %}

                <div class="previousButtonDiv">
                    <a href="/projectmanagement/{{project.projectName}}/{{file.id}}/versions">
                        <button class="btn btn-success">Show Previous Versions</button>
                    </a>
                </div>

                <div class="previousButtonDiv">
                    <a href="/projectmanagement/{{project.projectName}}/{{file.id}}/comparewithprevious">
                        <button class="btn btn-primary">Compare With Previous</button>
                    </a>
                </div>
                <div class="previousButtonDiv">
                    <a href="/projectmanagement/{{project.projectName}}/{{file.id}}/edit"><button class="btn btn-info">Edit</button></a>
                </div>
                <div class="previousButtonDiv2" style="padding-left: 20px">
                    <a href="/projectmanagement/{{project.projectName}}/{{file.id}}/issues" style="text-decoration: none; color: white"><button type="button" class="btn btn-primary">&nbsp;<strong>Issues</strong></button></a>
                </div>

                {#            {% elif isAssigned %}#}
                {#                <div class="previousButtonDiv">#}
                {#                    <a href="/search/{{ searchedUser.username }}/{{project.projectName}}/{{file.id}}/versions">#}
                {#                        <button class="btn btn-success">Show Previous Versions</button>#}
                {#                    </a>#}
                {#                </div>#}
                {##}
                {#                <div class="previousButtonDiv">#}
                {#                    <a href="/search/{{ searchedUser.username }}/{{project.projectName}}/{{file.id}}/comparewithprevious">#}
                {#                        <button class="btn btn-primary">Compare With Previous</button>#}
                {#                    </a>#}
                {#                </div>#}
                {#                <div class="previousButtonDiv">#}
                {#                    <a href="/projectmanagement/{{project.projectName}}/{{file.id}}/edit"><button class="btn btn-info">Edit</button></a>#}
                {##}
                {#                </div>#}
                {##}
                {#                <div class="btn-group btn-group-sm" style="padding-left: 20px">#}
                {##}
                {#                    <button type="button" class="btn btn-primary"><a href="/projectmanagement/{{project.projectName}}/{{file.id}}/issues" style="text-decoration: none; color: white">&nbsp;<strong>Issues</strong></a></button>#}
                {#                    <button type="button" class="btn btn-success" >[<strong>{{ IssueClosed }}</strong>]</button>#}
                {#                    <button type="button" class="btn btn-dark" >[<strong>{{ IssueOpen }}</strong>]</button>#}
                {#                </div>#}

            {% elif isAssigned %}
                <div class="previousButtonDiv">
                    <a href="/search/{{ searchedUser.username }}/{{project.projectName}}/{{file.id}}/versions">
                        <button class="btn btn-success">Show Previous Versions</button>
                    </a>
                </div>

                <div class="previousButtonDiv">
                    <a href="/search/{{ searchedUser.username }}/{{project.projectName}}/{{file.id}}/comparewithprevious">
                        <button class="btn btn-primary">Compare With Previous</button>
                    </a>
                </div>

                <div class="previousButtonDiv2" style="padding-left: 20px">
                    <a href="/search/{{ searchedUser.username }}/{{project.projectName}}/{{file.id}}/issues" style="text-decoration: none; color: white">
                        <button type="button" class="btn btn-primary">
                            <strong>
                                Issues
                            </strong>
                        </button>
                    </a>
                </div>
            {% else %}
                <div class="previousButtonDiv2" style="padding-left: 20px">
                    <a href="/search/{{ searchedUser.username }}/{{project.projectName}}/{{file.id}}/issues" style="text-decoration: none; color: white">
                        <button type="button" class="btn btn-primary">
                            <strong>
                                Issues
                            </strong>
                        </button>
                    </a>
                </div>
            {% endif %}

            <div class="previousButtonDiv">
                <a href={{ file.file.url }} download><button class="btn btn-warning">Download</button></a>
            </div>



            <div class = "clearboth"></div>
            <hr>
            <div class = "codeDiv" style="overflow-x: scroll;">
                


<pre><code class={{ file.fileType }}>{% for line in lines %} {{line}}
{%endfor%}</code>
        </pre>
            </div>

        </div>



        {% if isMaster %}
            <form  method="post" action="/projectmanagement/{{ project.projectName }}/{{ file.id }}/comment/" class="form-group" onsubmit="return validate()">
                {% csrf_token %}
                <textarea name="COMMENT-DESCRIPTION" class = "fileContentsAndCode" aria-label="With textarea" id="COMMENT-DESCRIPTION" style="box-sizing: border-box;width: 100%;border-radius: 10px;" placeholder="Comment About file"></textarea>
                <div align="center">
                    <button name="COMMENT-BUTTON" value="COMMENT-BUTTON" type="submit" id='COMMENT-BUTTON' class="btn btn-danger">Comment</button>
                </div>
            </form>
            <div class = "fileContentsAndCode" >
                {% for i in comment %}
                    <div  class = "fileContentsAndCode" style="padding: 10px; margin: 10px;">
                        <p>{{i.commentDescription}}</p>
                        <p style="font-size: small;"> Commented BY: {{i.commentator}}</p>
                        <p style="font-size: small;">Time: {{ i.commentTime }}</p>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <form  method="post" action="/search/{{ searchedUser.username }}/{{ project.projectName }}/{{ file.id }}/comment/" class="form-group">
                {% csrf_token %}
                <textarea name="COMMENT-DESCRIPTION" class = "fileContentsAndCode" aria-label="With textarea" id="COMMENT-DESCRIPTION" style="box-sizing: border-box;width: 100%;border-radius: 10px;" placeholder="Comment About file"></textarea>
                <div align="center">
                    <button name="COMMENT-BUTTON" value="COMMENT-BUTTON" type="submit" id='COMMENT-BUTTON' class="btn btn-danger">Comment</button>
                </div>
            </form>
            <div class = "fileContentsAndCode" >
                {% for i in comment %}
                    <div  class = "fileContentsAndCode" style="padding: 10px; margin: 10px;">
                        <p>{{i.commentDescription}}</p>
                        <p style="font-size: small;"> Commented BY: {{i.commentator}}</p>
                        <p style="font-size: small;">Time: {{ i.commentTime }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    <script>
        innerHtml = document.getElementById("mySidenav").innerHTML;
        function openNav() {

            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById('mySidenav').innerHTML = innerHtml
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            innerHtml= document.getElementById("mySidenav").innerHTML;
            document.getElementById("mySidenav").innerHTML = ''
        }
    </script>


{% endblock %}